body {
  background: black;
  font-family: 'Mukta Vaani','PT Serif', sans-serif;
}

.box-laboratoria {
  width: 800px;
  height: 532px;
  margin: 5% 20%;
  position: relative;
  background-image: url(../img/fondo.jpg);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.box-laboratoria > img {
  position: absolute;
  width: 280px;
  height: 280px;
  left: 27%;
  top: -14%;
}
.information > img {
  width: 39%;
  background: yellow;
}
.box-laboratoria > .text {
  width: 75%;
  height: 100%;
  position: absolute;
  background:   linear-gradient(120deg , rgba(0, 0, 0, 0) 35%,#3C3C3B 34%);
  display: inline-block;
  right: 0;
  bottom: 0;

}

.text h1 {
  top: 10%;
  right: 10%;
  color: white;
  font-size: 46px;
  position: absolute;
  text-align: right;
  font-weight: 100;
}
.text > h2 {
  color: #FCB425;
  position: absolute;
  top: 38%;
  right: 10%;
  font-weight: 200;

}
.information > span {
  top: 55%;
  right: 10%;
  color: white;
  position: absolute;
  font-size: 25px;
}
.information > img {
  right: 0;
  position: absolute;
  bottom: 0;
  width: 77px;
  height: 77px;
}
